.dialog-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

input{
  border-radius: 6px;
  border: solid 1px;
  height: 32px;
  width: 300px;
  padding: 6px;
}

.save-button{
  background-color: #3bc4ff;
  padding: 8px 32px;
  border-radius: 6px;
}
