<div class="bg-black w-full flex justify-center" >
  <div class="max-w-6xl w-4xl">
    <div class=" p-7 flex flex-wrap gap-11 justify-between  text-white">
      <div class="flex flex-col gap-10">

        <div class="flex flex-col gap-1">
          <h2 class="text-2xl ">Quick Links</h2>
          <a href="#" class="cursor-pointer hover:text-blue-300">Home</a>
          <a href="#" class="cursor-pointer hover:text-blue-300">Collections</a>
          <a href="#" class="cursor-pointer hover:text-blue-300">Gift Sets</a>
          <a href="#" class="cursor-pointer hover:text-blue-300">Cart</a>
          <a href="#" class="cursor-pointer hover:text-blue-300">About Us</a>
        </div>

        <div>
          Made by Nerds at Artifex 🚀
        </div>
      </div>

      <div class="flex flex-col gap-10">
        <div class="flex flex-col gap-4 justify-between">
          <h2  class="text-2xl">Our Socials</h2>
          <div class=" flex flex-row gap-4">
            <div class="w-6 h-6 bg-red-300 cursor-pointer"></div>
            <div class="w-6 h-6 bg-red-300 cursor-pointer"></div>
            <div class="w-6 h-6 bg-red-300 cursor-pointer"></div>
          </div>
        </div>

        <div class="flex flex-row gap-2 text-gray-400">
          <a  href="#" class="cursor-pointer ">Contact Us</a>
          <a href="#" class="cursor-pointer ">FAQs</a>
          <a href="#" class="cursor-pointer ">Policies</a>
        </div>


      </div>

    </div>
  </div>

</div>
